<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    <h1>Layout Main</h1>
    {{!-- Nội dung Home --}}

    {{#if showBody}}

    {{{body}}}

    {{/if}}

    {{!-- Hiển thị nội dung tính toán --}}
    {{#if showContentTinhToan}}

    <h2>Num A: {{soA}}</h2>
    <h2>Num B: {{soB}}</h2>
    <h2>Operator: {{operator}}</h2>
    <h2>Result: {{kq}}</h2>
    
    {{/if}}
</body>
</html>